*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.gradle-user-home/
.kotlin/
.idea/
app/build/


.idea/
.gradle-user-home/
.kotlin/
app/build/
app/google-services.json


/dist/

/shared/build/
/iosApp/build/
*.xcuserdata/
DerivedData/

/iosApp/iosApp/GoogleService-Info.plist
*.ipa
*.xcarchive
